.profile {
  width: 410px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 74px;
  height: 100vh;
}

.profile__heading {
  margin: 0 auto 123px;
}

.profile__container {
  display: flex;
  justify-content: space-between;
}

.profile__container:first-of-type {
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
  margin-bottom: 17px;
}

.profile__text {
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  margin: 0;
}

.profile__text_bold {
  font-weight: 500;
}

.profile__btn {
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
}

.profile__btn:first-of-type {
  margin-top: 220px;
  margin-bottom: 16px;
}

.profile__btn_red {
  font-weight: 500;
  color: #EE3465;
}

@media (max-width: 768px) {
  .profile {
    padding-top: 236px;
    height: auto;
  }
  .profile__heading {
    margin: 0 auto 96px;
  }
  .profile__btn {
    padding-bottom: 222px;
  }
}

@media (max-width: 480px) {
  .profile {
    padding-top: 70px;
    width: 81vw;
  }
  .profile__heading {
    margin: 0 auto 80px;
  }
  .profile__btn:first-of-type {
    margin-top: 372px;
    margin-bottom: 23px;
  }
  .profile__btn {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 30px;
  }
}
