.techs {
  background: #272727;
 /*  max-width: 1280px; */
  margin: auto;
}

.techs__headng {
  padding-top: 100px;
  margin: 0 auto 90px;
}

.techs__caption {
  margin-bottom: 0;
  margin-top: 0;
}

.techs__description {
  margin: 26px auto 100px;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
}

.techs__ul {
  width: 690px;
  padding-bottom: 100px;
}

.techs__link {
  width: 90px;
  height: 60px;
}
